@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: #f9fafb;
  color: #111827;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

* {
  box-sizing: border-box;
}
